.insta-collapsible-container {
  width: 100%;
  box-sizing: border-box;
}

.fs-trash-button {
  border: none;
  outline: none;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.fs-trash-button:hover {
  cursor: pointer;
  background-color: red;
}

.note-and-trash-div {
  display: flex;
  border-radius: 10px;
  border-bottom: 1px solid gray;
}

.insta-link {
  display: flex;
  color: #383838;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: inherit;
  /* width: 100%; */
}

.insta-link p {
  /* border: 1px solid red; */
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
}

/* .insta-link:hover {
  background-color:#8adcff;
} */