/* Delete button:
  - no borders
  - inherit background color
  - rounded corners */
.jumpalTableDeleteButton {
  border: none;
  background-color: inherit;
  border-radius: 5px;
}

/* When hovering delete button:
    - trash icon turns white
    - background color turns red */
.jumpalTableDeleteButton:hover {
  color: white;
  background-color: var(--red);
}