.profile-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-image: url('../../images/cloudy-sky.jpg');
}

.name {
  text-align: center;
  font-size: 1.5rem;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 10rem;
  border-radius: 50%;
  /* border: 1px solid red; */
}