.loading {
  color: red;
}

.speedData-table {
  width: 100%;
}

.speedData-table, .speedData-table tbody, .speedData-table td, .speedData-table th {
  border: 1px solid black;
  border-collapse:collapse;
}

.speedData-table th, .speedData-table td {
  padding: 0.5rem 1rem;
}

.speedData-table th {
  background-color: #38c4ff;
}

.title-refresh-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newSpeedRecord-div {
  background-color: #f0f0f0;
  border: 3px double grey;
}

.addNewSpeedRecord {
  display: block;
  background-color: inherit;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.addNewSpeedRecord:hover {
  cursor: pointer;
  background-color: #ffe270;
  border-radius: 5px;
  border: 1px solid grey;
}

.closeNewSpeedRecord {
  margin: 0.1rem;
  font-size: 1.5rem;
  float: right;
  border: none;
  outline: none;
}

.closeNewSpeedRecord:hover {
  color: #ffe270;
}

#delete-cell {
  padding: 0;
}

.delete {
  background-color: inherit;
  border: none;
  outline: none;
  margin: 0;
  width: 100%;
  height: 100%; 
}

.delete:hover {
  background-color: red;
  color: white;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.newSpeedRecord-div {
  position: fixed;
  width: 400px;
  animation-name: fade;
  animation-duration: 1s;
}

@media (max-width: 900px) {
  @keyframes slideRight {
    from {left:-400px;}
    to {left: 1rem;}
  }
  
  .newSpeedRecord-div {
    position: fixed;
    width: 400px;
    animation-name: slideRight;
    animation-duration: 1s;
  }
}