body {
  background-color: white;
  font-family: Roboto, Arial;
  color:#383838;
}

.logoContainer {
  width: 100%;
}

.logo {
  display: block;
  width: 150px;
  margin: 0.5rem auto;
}

.content {
  margin: 1rem; 
}

.form {
  display: block;
  background-color: #8adcff;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.form label {
  display: block;
  padding: 0.5rem;
}

.input{
  display: block;
  background-color: white;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 2px 5px 12px#888888;
  width: 95%;
}

.button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #38c4ff;
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.25rem 0.25rem;
}

::-webkit-scrollbar {
  display: none;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }

}