body {
  background-color: white;
  font-family: Roboto, Arial;
  color:#383838;
}
.logoContainer {
  width: 100%;
}

.logo {
  display: block;
  width: 150px;
  margin: 0.5rem auto;
}

.content {
  padding: 1rem; 
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 600px) {
  .logo {
    display: none;
  }
}