
/* Table:  
- For adding 1rem top margin
- For rounding bottom 2 corners of table
- For shadow effect
- For removing external borders of table */
.jumpalTable {
  margin-top: 1rem;
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 10px var(--shadow);
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  border-left-style: hidden !important;
  border-right-style: hidden !important;
}

/* For rounding top 2 corners of the table */
.jumpalTable tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.jumpalTable tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

/* To set font and background color of table header */
.jumpalTable tr:first-child td
{
  background-color: var(--bootstrapGreen);
  color: white;
  font-weight: bold;
}

/* For centering delete button in its cell */
.jumpalTableDeleteButtonCell {
  text-align: center;
}

/* Delete button:
  - no borders
  - inherit background color
  - rounded corners */
.jumpalTableDeleteButton {
  border: none;
  background-color: inherit;
  border-radius: 5px;
}

/* When hovering delete button:
    - trash icon turns white
    - background color turns red */
.jumpalTableDeleteButton:hover {
  color: white;
  background-color: var(--red);
}