#submitButton {
  background-color: #88fcb3;
}

#time-input {
  display: block;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 0.5rem;
  width: 70%;
}