.save-button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #38c4ff;
  color: white;
  cursor: pointer;
  padding: 0 0.5rem;
  margin: 0.25rem 0.25rem;
}

.title-save-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-div {
  display: flex;
}