/* For padding entire PersonalBests component */
.componentContentDiv {
  padding: 0 1rem;
}

/* For rounding bottom 2 corners of table
   For shadow effect
   For removing external borders of table */
.personalBestTable {
  border-radius: var(--borderRadius);
  box-shadow: 5px 5px 10px var(--shadow);
  border-top-style: hidden !important;
  border-bottom-style: hidden !important;
  border-left-style: hidden !important;
  border-right-style: hidden !important;
}

/* For rounding top 2 corners of the table */
.personalBestTable tr:first-child td:first-child {
  border-top-left-radius: 5px;
}

.personalBestTable tr:first-child td:last-child {
  border-top-right-radius: 5px;
}

/* To set font and background color of table header */
.personalBestTable tr:first-child td
{
  background-color: var(--bootstrapGreen);
  color: white;
  font-weight: bold;
}

/* For centering delete button in its cell */
.deleteTableCell {
  text-align: center;
}

/* Delete button:
  - no borders
  - inherit background color
  - rounded corners */
.deleteTableButton {
  border: none;
  background-color: inherit;
  border-radius: 5px;
}

/* When hovering delete button:
    - trash icon turns white
    - background color turns red */
.deleteTableButton:hover {
  color: white;
  background-color: var(--red);
}

/* To center and add padding to add new personal best button */
.addNewPersonalBestButtonDiv {
  padding: 1rem;
  display: flex;
  justify-content: center;
}