.addNewPersonalBest {
  display: block;
  background-color: inherit;
  margin: 0 auto;
  margin-top: 1rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
}

.addNewPersonalBest:hover {
  cursor: pointer;
  background-color: #ffe270;
  border-radius: 5px;
  border: 1px solid grey;
}

.closeNewPersonalBest {
  margin: 0.1rem;
  font-size: 1.5rem;
  float: right;
  border: none;
  outline: none;
  background: inherit;
}

.closeNewPersonalBest:hover {
  color: #ffe270;
}

.newPersonalBest-div {
  background-color: #f0f0f0;
  /* border: 3px double grey; */
  border: 1px solid red;
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}

.newPersonalBest-div {
  position: fixed;
  width: 400px;
  animation-name: fade;
  animation-duration: 1s;
}

@media (max-width: 900px) {
  @keyframes slideRight {
    from {left:-400px;}
    to {left: 1rem;}
  }
  
  .newPersonalBest-div {
    position: fixed;
    width: 400px;
    animation-name: slideRight;
    animation-duration: 1s;
  }
}