/* Center and add margin around Sign In text */
.signInText {
  text-align: center;
  margin: 1rem;
}

/* Display sign in buttons centered */
.signInButtons {
  display: flex;
  justify-content: center;
}

/* Add margin around Google icon */
#googleIcon {
  margin: 0.5rem;
}