.homeContainerDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.speedFreestyleButtonImage {
  max-width: 100%;
  height: auto;
  margin: 0.5rem auto;
  display: block;
  border-radius: 10px;
  opacity: 80%;
}

.speedFreestyleLink {
  margin: 1rem;
  border-radius: 10px;
}

.speedFreestyleLink:hover p {
  font-size: 1.75rem;
  transition: all 1s ease;
}

.speedFreestyleLink:hover img {
  opacity: 40%;
  transition: all 1s ease;
}

.speedFreestyleLink:hover {
  text-decoration: none;
}

.speedFreestyleLink p {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 50%;
  text-shadow: 2px 2px var(--shadow);
}