.editable-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skillNameDiv {
  border-bottom: 1px solid gray;
}

.editButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: inherit;
  border-bottom: 1px solid gray;
}

.editButton:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.datetime-div {
  display: flex;
}

.progress-entry-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}