.editable-text-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.show-p {
  font-size: 1rem;
  display: flex;
}

.show-input {
  font-size: 1rem;
  display: flex;
  background-color: #dedede;
  outline: none;
  border: 1px solid grey;
  border-radius: 3px;
}

.edit-button {
  padding: 0;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #dedede;
}

.edit-button:hover {
  cursor: pointer;
}