.insta-link {
  display: flex;
  color: #383838;
  /* border: 1px solid red; */
  margin-right: 1rem;
  box-sizing: border-box;
}

.insta-link a {
  margin: 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
}


.insta-link:hover {
  background-color:#8adcff;
}