.skill-content {
  background-color: #dedede;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.skill-content label {
  display: flex;
  color: #4e7ede;
  margin: 0.25rem 0;
  align-items: center;
}

#progress-button {
  color: #4e7ede;
  margin: 0.25rem 0;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: #dedede;
  font-size: 1rem;
}

#progress-button:hover {
  background-color: #ebebeb;
}

.skill-content p {
  margin: 0;
  padding-left: 0.25rem;
  color: #383838;
}