.freestyle-container {
  display: block;
  width: 100%;
}

.button-div {
  display: flex;
  justify-content: flex-end;
}

.collapsible-div {
  margin: 1rem 0;
}

.form label {
  display: block;
 padding: 0.25rem 0;
}