.timingTrackTitle {
  padding: 1rem 0;
}

.timing-tracks-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.timing-track-audio {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
}